*{
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
}
.row{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
div img{
    width: 100%;
    max-width: 250px;
}
[class*="col-"]{
    border: 1px solid black;
    margin-bottom: 2%;

}

/*Tablet*/
@media only screen and (min-width: 480px)  {
	[class*='col-']{
		margin-left: 2%;
        margin-right: 0%;
        margin-bottom: 2%;
	}
	.col-1-2,
	.col-2 {
		flex: 0 0 44%; 
	}
	.col-1-4,
	.col-3,
	.col-4,
	{
		flex: 0 0 92%;
	}
	.reverse [class*='col-'] {
		margin-left: 0%;
		margin-right: 4%;
	}


}
/*Desktop Size */
@media only screen and (min-width: 768px) {
	.col-1-2,
	.col-1-4 {
		flex: 0 0 20%;
	}
    .col-2
     {
		flex: 0 0 44%;
	}
	.col-3 {
		flex: 0 0 68%;
	}
	.col-4 {
		flex: 0 0 92%;
    }
} 
